<h2>here is your account</h2>


  <%= link_to 'My Uploads', uploads_path %>
  <%= link_to 'My Downloads', uploads_path %>
  <%= link_to 'Profile', edit_path %>
  <%= link_to 'Upload now', new_upload_path %>







