
* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

.blink_me {
  text-align: center;
  color: #600000;
  font-size: 35px;
  animation: blinker 10s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

body {
  background: image-url("welcome_pic.jpg") no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #5a5a5a;
}

li {
  display: inline-block;
  margin: 0 10px;
  list-style: none;
}

.navbar.transparent.navbar-inverse {
   background: rgba(0,0,0,0.3);
   border: 0;
}

.nav.navbar-nav li a {
  font-size: 20px;
  color: white;
}
.nav.navbar-nav li a:hover {
  background-color: hsla(0, 52%, 21%, 0.30);
  color: #fbcbd3;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-size: 35px;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    background-color: hsla(0, 52%, 21%, 0.20);
    color: #fbcbd3;
}
.navbar-inverse .navbar-text {
  position: inherit;
  color: white;
}

.hearts {
  color: #400000;
  position:absolute;
  bottom:0;
  right:0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 65%;
    margin: auto;

}









