<h1>Photos</h1>
<h2>Categories</h2>

<div class="container">
  <div class="row text-center">
    <%= @categories.each do |c| %>
      <label for="default" class="btn btn-default"> <%= c.category_name %><input type="checkbox"  class="badgebox"></label>
    <% end %>
  </div>
</div>

